<head  th:fragment="head" xmlns="http://www.w3.org/1999/xhtml">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="viewport"
	      content="width=device-width, height=device-height,  initial-scale=1.0, user-scalable=no,user-scalable=0"/>
	<link th:href="@{/css/bootstrap.min.css}" type="text/css" rel="stylesheet"/>
	<link th:href="@{https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap}" type="text/css" rel="stylesheet"/>
	<link type="text/css" th:href="@{/css/style.css}" rel="stylesheet"/>
	<link type="text/css" th:href="@{/css/responsive.css}" rel="stylesheet"/>
	<link rel="icon" th:href="@{/img/favicon.png}" type="image/gif" sizes="16x16">
	<style>
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active{
            -webkit-box-shadow: 0 0 0 30px white inset !important;
        }
		#passwordError{
			position: unset !important;
		}
	</style>
	<title>Planbow</title>
</head>