<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head th:replace="~{fragment/head}"></head>
<body>
<section class="accountSec">
	
	<!--------Start Login Section-------------->
	<!--------Start Login Section-------------->
	<div class="accountDiv_outer forgotDiv" >
		<img class="leftImg" src="img/leaf.svg">
		<img class="rightImg" src="img/forgot.svg">
		<div class="loginDiv">
			<img class="logoNida" src="img/logo.png">
			
			<div class="signInHead">
				<label>Forgot Password</label>
				<p>Enter your Recovery email</p>
			</div>
			
			<ul class="formUL">
				<li>
					<div>
						<label>Email Address</label>
						<input placeholder="Email Address">
					</div>
					<span class="errorMsg">Enter valid Email Address</span>
				</li>
				
				<li>
					<div class="btmButtonDiv">
						<button class="cmnButton">Recover Password</button>
					</div>
				</li>
				<li class="lastLi"><p>Back to <a th:href="@{/login}">Login</a></p></li>
			</ul>
		</div>
	</div>
	<!--------End Login Section-------------->


</section>
<div th:replace="~{fragment/script}"></div>
<script>
    let pattern = /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i;
    let strongRegex = new RegExp("((?=.*\\d{3})(?=.*[a-z]{3})(?=.*[A-Z]{3})(?=.*[!@#$&*]).{10,128})");

    function login(){
        let proceed=true;
        if($('#username').val()===''){
            $('#emailError').show();
            $('#username').addClass("errorInput");
            proceed=false;
        }else if(!pattern.test($('#username').val())){
            $('#emailError').text("Invalid email address");
            $('#emailError').show();
            $('#username').addClass("errorInput");
            proceed=false;
        }

        if($('#password').val()===''){
            $('#passwordError').show();
            $('#password').addClass("errorInput");
            proceed=false;
        }else if(!strongRegex.test($(this).val())){
            $('#passwordError').text("Improper password pattern -> Password must be 3 Capital Alphabets,1 Special character , 3 Small alphabet and 3 digits");
            $('#passwordError').show();

            $('#password').addClass("errorInput");
            proceed=false;
        }

        return proceed;
    }
    $("#username").on("input", function() {

        if($(this).val()===''){
            $('#emailError').show();
            $('#username').addClass("errorInput");
            $('#emailError').text("Please provide email");
        }else if(!pattern.test($(this).val())){
            $('#emailError').text("Invalid email address");
            $('#emailError').show();
            $('#username').addClass("errorInput");
        }else{
            $('#emailError').hide();
            $('#username').removeClass("errorInput");
        }

    });


    $("#password").on("input", function() {

        if($(this).val()===''){
            $('#passwordError').show();
            $('#password').addClass("errorInput");
        }else if(!strongRegex.test($(this).val())){
            $('#passwordError').text("Improper password pattern -> Password must be 3 Capital Alphabets,1 Special character , 3 Small alphabet and 3 digits");
            $('#passwordError').show();

            $('#password').addClass("errorInput");
        }else{
            $('#passwordError').hide();
            $('#password').removeClass("errorInput");
        }
    });
</script>
</body>

</html>