<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head th:replace="~{fragment/head}"></head>
<body>

<!--- [start :: ] header ------->
<div th:insert="~{fragment/header.html}"></div>
<!--- [end :: ] header   ------->

<section class="sideSec">
	
	<!--- [start :: ] nav ------->
	<div th:insert="~{fragment/side-nav.html}"></div>
	<!--- [end :: ] nav   ------->
	
	<div class="rightSec homeRightSec">
		<div class="container">
			<div class="profileDiv">
				<label class="bigHead">Security</label>
				<p>Settings and recommendations to help you keep your account secure</p>
			</div>
			<div class="row">
				
				<div class="col-xl-12 col-lg-12 col-md-12 col-xs-12 col- commanBox12">
					<div class="commanBox">
						<ul class="commanUl">
							<li class="cmnli1">
								<label class="boxLabel">You have security recommendations <img class="resImg" src="img/security1.svg"></label>
								<p>Recommended actions found in the security Check-Up</p>
							</li>
							<li class="cmnli2">
								<img class="norImg" src="img/security1.svg">
							</li>
						</ul>
						<div class="commanLink">
							<a>Protect your account</a>
						</div>
					</div>
				</div>
				
				<div class="col-xl-12 col-lg-12 col-md-12 col-xs-12 col- commanBox12">
					<div class=" basicInfo securityAct12">
						<ul class="commanUl commanResUl commanUl25">
							<li class="cmnli1">
								<label class="boxLabel">Recent security activity</label>
							</li>
						</ul>
						<ul class="lookingUl cuBottom55">
							<li class="">
								<a>
									<span class="titleSpan">Planbow was given account access</span>
									<span class="valueSpan">25 Dec 2021 - India</span>
									<img class="imgArrow" src="img/arroeRight.svg">
								</a>
							</li>
							<li class="">
								<a><span class="titleSpan">New sign-in on Xiaomi Redmi Note 5 Pro</span>
									<span class="valueSpan">25 Dec 2021 - Madhya Pradesh, India</span>
									<img class="imgArrow" src="img/arroeRight.svg">
								</a>
							</li>
						</ul>
						<div class="commanLink">
							<a>Review security activity</a>
						</div>
					</div>
				</div>
				
				<div class="col-xl-12 col-lg-12 col-md-12 col-xs-12 col- commanBox12">
					<div class=" basicInfo securityAct12">
						<ul class="commanUl commanResUl commanUl25">
							<li class="cmnli1">
								<label class="boxLabel">Signing in to Planbow <img class="resImg resImgNone" src="img/signing.svg"></label>
							</li>
							<li class="cmnli2">
								<img class="norImg" src="img/signing.svg">
							</li>
						</ul>
						<ul class="lookingUl">
							<li class="">
								<a>
									<span class="titleSpan">Password</span>
									<span class="valueSpan">Last changes 17 aps 2021</span>
									<img class="imgArrow" src="img/arroeRight.svg">
								</a>
							</li>
							<li class="">
								<a><span class="titleSpan">2 Step verification</span>
									<span class="valueSpan"><img src="img/check.svg" class="check">On</span>
									<img class="imgArrow" src="img/arroeRight.svg">
								</a>
							</li>
							<li class="">
								<a>
									<span class="titleSpan">App password</span>
									<span class="valueSpan">None</span>
									<img class="imgArrow" src="img/arroeRight.svg">
								</a>
							</li>
							<li class="">
								<a><span class="titleSpan">Planbow Account PIN</span>
									<span class="valueSpan">Last changed 17 sept 2018</span>
									<img class="imgArrow" src="img/arroeRight.svg">
								</a>
							</li>
						</ul>
					</div>
				</div>
				
				<div class="col-xl-12 col-lg-12 col-md-12 col-xs-12 col- commanBox12">
					<div class="securityAct12">
						<ul class="commanUl commanResUl commanUl25">
							<li class="cmnli1">
								<label  class="boxLabel">Ways that we can verify that it's you <img class="resImg resImgNone" src="img/verifyimg.svg"></label>
								<p class="cpMargin">These can be used to make sure that it's really you signing in or to contact you if there's suspicious activity in your account</p>
							</li>
							<li class="cmnli2">
								<img class="norImg" src="img/verifyimg.svg">
							</li>
						</ul>
						<ul class="lookingUl">
							<li class="">
								<a>
									<span class="titleSpan">Recovery Phone</span>
									<span class="valueSpan">0369852147</span>
									<img class="imgArrow" src="img/arroeRight.svg">
								</a>
							</li>
							<li class="">
								<a><span class="titleSpan">Recovery Email</span>
									<span class="valueSpan">ganesha.titi@gmail.com</span>
									<img class="imgArrow" src="img/arroeRight.svg">
								</a>
							</li>
							<li class="">
								<a>
									<span class="titleSpan">Sequrity question</span>
									<span class="valueSpan">My name</span>
									<img class="imgArrow" src="img/arroeRight.svg">
								</a>
							</li>
						</ul>
					</div>
				</div>
				
				<div class="col-xl-12 col-lg-12 col-md-12 col-xs-12 col- commanBox12">
					<div class=" profBasic password1 devices">
						<ul class="commanUl">
							<li class="cmnli1">
								<label  class="boxLabel">Your devices</label>
								<p>You're currently signed in to your Planbow Account on these devices</p>
								<div class="passwordDiv">
									<img class="passImg" src="img/window.svg">
									<a>
										<span class="passTitle">Window</span>
										<span>Madhya Pradesh</span>
										<span><img src="img/check.svg" class="check">this device</span>
									</a>
								</div>
							</li>
							<li class="cmnli1">
								<div class="passwordDiv">
									<img class="passImg" src="img/mobile.svg">
									<a>
										<span class="passTitle">Xiaomi Redmi Note 5 Pro</span>
										<span>India - 15:46</span>
									</a>
								</div>
							</li>
							<li class="cmnli1">
								<div class="passwordDiv">
									<img class="passImg" src="img/tv.svg">
									<a>
										<span class="passTitle">Realme TV 32</span>
										<span>Madhya Pradesh, India - 12 Jan</span>
									</a>
								</div>
							</li>
						</ul>
						<div class="commanLink">
							<a>Manage devices</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>


</section>

</body>

<div th:replace="~{fragment/script}"></div>

<script>
    window.onscroll = function() {myFunction()};
    var header = document.getElementById("myHeader");
    var affix = header.offsetTop;

    function myFunction() {
        if (window.pageYOffset > affix) {
            header.classList.add("affix");
        } else {
            header.classList.remove("affix");
        }
    }
</script>

<script>
    $(document).ready(function(){
        $("#hide").click(function(){
            $(".searchDiv").hide();
        });
        $("#show").click(function(){
            $(".searchDiv").show();
        });
    });
</script>
